nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    height: 50px;
  }
  
  nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }
  .top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
  }
  
  .top-links li {
    display: inline-block;
    margin: 0 10px;
  }
  .singup{
      width: 30%;
      margin: 0 auto;
      padding-right: 25%;
      padding-bottom: 8%;
      padding-top: 5%;
    }
    .singup a{
        text-decoration: none;
        color:rgba(255,255,255,0.8);
        background-color: rgb(240, 146, 51);
        border-radius: 25px;
        padding: 5px 15px;


    }
    header{
        background-image: url(file:///Users/mapi/Documents/Ironhack/lab-html-module-exercise-master/starter-code/images/city-scape.svg);
        width: 100%;
        float: right;
        color: white;
        margin: 0 auto;
    }
    .buscador{
        margin: 1%;
    }
    .buscador img{
        width: 8%;
        float: left;
        margin-right: 1%;
    }
    .osito{
    padding: 0 auto;
    float: right;
    }
    .buscador a{
        
        text-decoration: none;
        color: white;
        float: left;
        font-size: 20px;
    }
    input{
        width: 70%;
        float: left;
        background-color: rgb(31, 82, 111);
        height: 45px;
        border-color: rgba(31, 82, 111, 0.719);
    }
    #orgs{
        background-color: rgb(39, 53, 71);
        margin: 0 auto;
        color: white;
    }
   #orgs img{
       width: 35%;
       padding:5% 0% 5% 20%;
        }
  .tit{
      float: right;
      padding-top:5%;
      padding-left: ;
  }
  .tit h2{
    font-size: 30px;
    color: white;
    width:55%;
  }
  .list{
      font-size:20px;
      color: white;
      padding-bottom: 2%;
  }

   }
    .clearfix{
        clear: both;
    }
    .buton{
        text-decoration: none;
        color:rgba(255,255,255,0.8);
        background-color: rgb(236, 79, 31);
        border-radius: 25px;
        padding: 10px 30px;
        margin-left: 10%;
        display: block;
        width: 20%;
    }
    .enla{
        color: white;
        text-decoration: none; 
    }
    .or{
        padding-left: 10%;
        padding-top: 2%;
    }
    #install{
       background-image: url(file:///Users/mapi/Documents/Ironhack/lab-html-module-exercise-master/starter-code/images/forklift.svg);
       background-size: cover;
       padding: 5%;
    
                                   
    }
    .sect2 h2{
        font-size: 30px;
    color: white;
    }
    .sect2{
        color: white;
        font-size: 20px;
        width: 30%;
        padding-left: 15%;
        padding-bottom: 10%;
    }
    .sect2 a{
        text-decoration: none;
        color:rgba(255,255,255,0.8);
        background-color:rgb(49, 68, 88);
        border-radius: 25px;
        padding: 10px 30px;
    }
    .sect3-1{
        text-align: center;
        background-color: white;
        margin: 0 auto;
    }
    .sect3-1 h2{
        color:rgb(83, 88, 98);
        font-size: 35px;
    }
    #make p{
        color:rgb(135, 145, 156);
        font-size: 20px;
    }
    #find a{
        text-decoration: none;
        color:rgb(208, 74, 73)
    }
    #find{
        width: 33%;
        float: left;
       
    }
    #find img{
        width: 33%;
        padding: 1% 10% 0% 10%;
    }
    #all{
        padding: 1% 8% 0 20%;
    }
   #all p{
        width: 60%;
        text-align: center;
        text-indent: -10px;
    }
    #all h3{
        padding: 0% 20%;
        font-size: 25px;
        display: inline;
        text-align: center;
    }
    #discover{
        width: 33%;
        float: left;
    }
    #discover img{
        width: 33%;
        padding: 1% 10% 0% 10%;
    }
    #build{
        width: 33%;
        float:right;
    }
    #build img{
        width: 33%;
        padding: 1% 10% 0% 10%;
    }
